header
    +clearfix
    background: 
        image: url('../images/fundo-slide-pagina-inicial.jpg')
        position: 
        attachment:
        size:
    .logo
        float: left
        img
            width: 70px
            height: 35px
    #links
        float: right
        nav
            ul
                li
                    display: inline-block
                    a
                        color: $branco
                        text-transform: uppercase
        .social
            li
                a
                    color: $branco
    
    h1,
    p
        color: $branco